[user]
    email = jones.layne555@gmail.com
[alias]
    am = commit --amend --no-edit
    bbdiff = "!/home/vagrant/projects/bitbucketDiff/git-bitbucket-diff.sh"
    pom = pull origin main
    pretty = log --author='vagrant' --pretty=oneline --no-merges --oneline
    rebase-root = "!git rebase -i $(git rev-list --max-parents=0 HEAD)"
    root = rev-parse --show-toplevel
    s = status -s
[core]
    editor = vim
    whitespace = -trailing-space
[pull]
    ff = true
